PROJECT_NAME=Hospital_Readmission_Prediction

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_EXTERNAL_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_TOPIC_PATIENT_EVENTS=patient-events
KAFKA_TOPIC_PREDICTION_RESULTS=prediction-results

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_ENDPOINT=http://minio:9000
MINIO_EXTERNAL_ENDPOINT=http://localhost:9000
MINIO_BUCKET=mlops-hospital
MLFLOW_ARTIFACT_BUCKET=mlflow-artifacts
DVC_BUCKET=dvc-storage

AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ENDPOINT_URL=http://localhost:9000

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXTERNAL_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=Hospital_Readmission
MLFLOW_MODEL_NAME=HospitalReadmissionModel

REGISTER_METRIC_NAME=roc_auc
REGISTER_METRIC_MODE=max
MIN_IMPROVEMENT=0.001

REDIS_HOST=localhost
REDIS_PORT=6379

API_HOST=0.0.0.0
API_PORT=8000

CSV_PATH=data/diabetic_data.csv
MODEL_LOCAL_PATH=models/model.pkl
METRICS_PATH=reports/metrics.json
