__pycache__/
*.pyc
.venv/
venv/
env/
node_modules/
frontend/node_modules/
frontend/dist/

.env
.env.local

data/gold/
data/bronze/
data/silver/
data/features/
data/checkpoints/

models/*.pkl
reports/*.json

mlruns/
airflow/logs/

spark-warehouse/
metastore_db/

.DS_Store
.vscode/
.idea/
